.main-nav{
    padding-top: 10px;
    @mixin atMedium {
        padding-top: 0;
    }
    &--move-right {

        @mixin atMedium {
            float: right;            
        }
    }

    ul {
        @mixin clearfix;
        margin: 0;
        padding: 0;
    }

    li {
        list-style: none;
        padding-right: 7px;
        display: inline-block;

        @mixin atMedium {
            padding-right: 1.25rem;
            float: left;            
            display: block;
        }
    }

    li:last-child {
        padding-right: 0;

        @mixin atMedium {
            padding-right: 1.25rem;
        }
    }

    a {
        color: white;
        text-decoration: underline;
        font-weight: 300;
        display: inline-block;
        text-decoration: none;
        padding: 5px 8px;
        font-size: .8rem;
        background-color: rgba($mainBlue, .6);
        @mixin atMedium {
            background-color: transparent;
            font-size: 1rem;
            padding: 17px 0;  
            
            &.current-link {
                color: #fabb69;
            }
        }

        &:hover {
            font-weight: 500;
        }
    }

   
}