.page-section {
    padding: 1.2rem 0;
    max-width: 1200px;
    margin: 0 auto;

    @mixin atMedium {
        padding: 4.5rem 0;
        
    }

    &--blue {
        background-color: $mainBlue;
        color: white;
        max-width: 100%;
    }
}